html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

* {
   outline: 0;
}

body {
   background: linear-gradient(45deg, rgb(19, 95, 23), rgb(68, 226, 75), rgb(51, 198, 85), rgb(79, 211, 85));
   background-attachment: fixed;
   height:100vh;
   padding: 3rem 0;
   margin: 0;
   color: #555;
   font: {
      family: 'Lato', sans-serif;
      size: 14px;
   }
}

/*.container {
   width: 90%;
   margin: auto;
}*/

.mobile-wrapper {
   background: 	#212529;
   /* relative with .today-box::before*/
   z-index: 1;  /*positive*/ // PARENT
   position: relative;
   /*---------*/
   width: 380px;
   min-height: 100%;
   margin: auto;
   padding: 10px 0 20px;
   border-radius: 10px;
   box-shadow: 0px 10px 30px -10px #000;
   overflow: hidden;

}

.header {
   padding-bottom: 15px;
   margin-bottom: 40px;
   .container {
      position: relative;
      span {
         color: white;
         font: {
            family: 'Ramabhadra';
            size: 21px;
            weight: 700;
         }
      }
      h1 {
         margin-top: 5px;
         color: white;
         font: {
            size: 13px;
            weight: 300;
         }
      }

      .menu-toggle {
         width: 25px;
         height: 25px;
         background: #fff;
         padding: 24px;
         border-radius: 50%;
         direction: rtl;
         display: flex;
         align-items: center;
         justify-content: center;
         box-shadow: 0px 10px 30px -14px #000;
         position: absolute;
         top: 0;
         right: 0;
         cursor: pointer;
     
   }
}

.today-box {
   background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
   color: #FFF;
   padding: 37px 40px;
   position: relative;
   box-shadow: 0px 0px 40px -9px #485fed;
   margin-bottom: 50px;
 
   }
}


.upcoming-events {
   .container {
      h3 {
         color: white;
         font-size: 17px;
         margin-bottom: 30px;
         position: relative;
      }
      p {
	    color: white;
	    font-size: 8px;
	}				
  
      .events-wrapper {
         margin-bottom: 30px;
         .event {
            position: relative;
            margin-bottom: 25px;
            padding-left:30px;
            cursor: pointer;
	    background:green;
            i {
               font-size: 24px;
               font-weight: 100;
               position: absolute;
               left: 0;
               top: -4px;
            }
        
            }
         }
      }
   }
}




.add-event-button {
   display: flex;
   align-items: center;
   margin-left: auto;
   border: 0;
   padding: 0;
   background: linear-gradient(to left, #485fed, rgba(18, 255, 18, .25)), #485fed;
   border-radius: 50px;
   cursor: pointer;
   box-shadow: 0px 0px 40px -9px #485fed;

}
