<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet"= href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
</head>

<body id="bodyid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar navbar-dark bg-dark" style="height:100px" >
 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-	controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
  		</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		
        	<ul class="navbar-nav">
			{% if session['username'] == "admin" %}
                		<a class="nav-item nav-link active" href="{{ url_for('modifica') }}">MODIFICA INFO </a>
				<a class="nav-item nav-link active" href="{{ url_for('modifica_campo') }}">AGGIUNGI CAMPI</a>
				<a class="nav-item nav-link active" href="{{ url_for('aggiungi_logo') }}">AGGIUNGI LOGO</a>
				<a class="nav-item nav-link active" href="{{ url_for('gestione_campi') }}">GESTIONE CAMPI</a>
				<a class="nav-item nav-link active" href="{{ url_for('logout')}}">LOGOUT</a>
            		{%else%}
			<img id="immagin" src="{{url_for('static',filename='images/logo/logo.jpg')}}"width="114" height="75" alt="Inserisci Immagine" > 
            		<a class="nav-item nav-link active" href="{{ url_for('prenota') }}"style="position:relative;top:20px;left:20px">PRENOTA</a>
			<a class="nav-item nav-link active" href="{{ url_for('agenda') }}"style="position:relative;top:20px;left:20px">AGENDA</a>
          		<a class="nav-item nav-link active" href="{{ url_for('galleria_calcio') }}"style="position:relative;top:20px;left:20px">GALLERIA </a>
			<a class="nav-item nav-link active" href="{{ url_for('logout')}}"style="position:relative;top:20px;left:20px">LOGOUT</a>
			
			{% endif %}
        	</ul>
    	</div>
    		<span class="navbar-text">Accesso effettuato come {{session['username']}}</span>
	</nav>
	
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src=" {{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html> 
