<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet"= href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
</head>

<body id="bodyid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top navbar navbar-dark bg-dark" style="height:100px" >
 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-	controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
  		</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		
        	<ul class="navbar-nav">
            		<a class="nav-item nav-link active" href="{{ url_for('richiesta') }}">PRENOTA</a>
			<a class="nav-item nav-link active" href="{{ url_for('agenda') }}">AGENDA</a>
          		<a class="nav-item nav-link active" href="{{ url_for('galleria_calcio') }}">GALLERIA </a>
			<a class="nav-item nav-link active" href="{{ url_for('logout')}}">LOGOUT</a>
        	</ul>
    	</div>
    		<span class="navbar-text">Accesso effettuato come {{session['username']}}</span>
	</nav>
	
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src=" {{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html> 
