<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modifica Campo</title>

  <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet"= href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  
  
</head>

<body>

  <!-- Navigation -->
  <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <h3 class="navbar-brand" >Modifica il tuo Centro</h3>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Indietro</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
 <br></br>
 <br></br>
 <div id="formradio" style="position:relative ;left:200px ;top :10px;" >
 {% with errori = get_flashed_messages() %}
            {% if errori %}
                {% for errore in errori %}
			 <div class="alert alert-dark" style="position:relative;bottom:35px;right:150px">{{ errore }}<br/>
			 </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
  <form class="transparent" method="POST" action="{{url_for('modifica_campo')}}">
	<div class="form-inner"  style="float: left ; margin-right:110px">
 		<div class="form-check form-check-group">
		<h3>TIPO DI CAMPO</h3>
	        <input checked name="gruppo1" type="radio" id="radio1"  value="calcio" >
	        <label for="radio1">Calcio</label>
	        <small id="radio13-help" class="form-text">Campo per 11 giocatori per squadra</small>
      		</div>
      		<div class="form-check form-check-group">
        	<input name="gruppo1" type="radio" id="radio2"  value="calciotto">
        	<label for="radio2">Calciotto</label>
        	<small id="radio14-help" class="form-text">Campo per 8 giocatori per squadra </small>
      		</div>
      		<div class="form-check form-check-group">
        	<input name="gruppo1" type="radio" id="radio3"  value="calcetto" >
        	<label for="radio3" >Calcetto</label>
        	<small id="radio15-help" class="form-text">Campo per 5 giocatori per squadra</small>
      		</div>
	</div>

	<div class="form-inner" style="position:relative ;left:40px;">	
 		<div class="form-check form-check-group">
		<h3>RISCALDAMENTO TERRENO</h3>
	        <input checked name="gruppo2" type="radio" value="presente">
	        <label for="radio4">Presente</label>
      		</div>
      		<div class="form-check form-check-group"  >
        	<input name="gruppo2" type="radio"  value="assente">
        	<label for="radio5">Assente</label>
      		</div>
  
    	</div>
	<div class="form-inner" style="position:relative ;left:458px;bottom:105px">	
 		<div class="form-check form-check-group">
		<h3>RIFLETTORI</h3>
	        <input checked name="gruppo3" type="radio" value="quattro">
	        <label for="radio4">4_Faretti</label>
      		</div>
      		<div class="form-check form-check-group">
        	<input name="gruppo3" type="radio"  value="otto">
        	<label for="radio5">8_Faretti</label>
      		</div>
      		<div class="form-check form-check-group"  style="position:relative ;left:314px;">
        	<input name="gruppo3" type="radio"  value="sedici">
        	<label for="radio6" >16_Faretti</label>
      		</div>
    	</div>
	<div class="form-inner" style="float: left ; margin-right:160px">
		<br></br>	
 		<div class="form-check form-check-group">
		<h3>IRRIGAZIONE</h3>
	        <input checked name="gruppo4" type="radio"  value="manuale">
	        <label for="radio4">Manuale</label>
		<small id="radio15-help" class="form-text">Se la tua irrigazione prevede la manutenzione di un addetto</small>
      		</div>
      		<div class="form-check form-check-group">
        	<input name="gruppo4" type="radio"  value="semiautomatica">
        	<label for="radio5">Semiautomatica</label>
		<small id="radio15-help" class="form-text">Irrigazione affidata a un impianto assistito</small>
      		</div>
      		<div class="form-check form-check-group">
        	<input name="gruppo4" type="radio" value="automatica" >
        	<label for="radio6" >Automatico</label>
		<small id="radio15-help" class="form-text">Se il tuo impianto è completamente automatizzato</small>
      		</div>
    	</div>
	<div class="form-inner" style="float: left ; position:relative; right:65px ">
		<br></br>	
 		<div class="form-check form-check-group">
		<h3>STATO CAMPO</h3>
	        <input  checked name="gruppo5" type="radio" value="naturale">
	        <label for="radio4">Naturale </label>
		<small id="radio15-help" class="form-text">Presenza di un fondo in erba e terreno naturale</small>
      		</div>
      		<div class="form-check form-check-group">
        	<input name="gruppo5" type="radio" value="sintetico">
        	<label for="radio5">Sintetico</label>
		<small id="radio15-help" class="form-text"> Erbetta realizzata con materiali come PVC o gomma.</small>
      		</div>
      		<div class="form-check form-check-group">
        	<input name="gruppo5" type="radio"  value="cemento" >
        	<label for="radio6" >Cemento</label>
		<small id="radio15-help" class="form-text">Struttra cementificata </small>
      		</div>
    	</div>
	<input class="btn btn-secondary" type="submit" value="Aggiungi" style="position:relative ;right:420px;top :310px">

 </form>	
 </div>

	
    
  <footer class="py-5 bg-dark" style="position:relative ; top :350px">

  </footer>

</body>

</html>
